@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'bahnschrift', sans-serif;
    src: url('../fonts/bahnschrift.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Black_1.otf') format('otf');
    font-weight: normal;
}
@font-face {
    font-family: 'BodoniFLF-Italic';
    src: url('../fonts/BodoniFLF-Italic.woff') format('woff');

}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* lay out */
body {font-size: 16px;}
.bahn {font-family: 'Bahnschrift', sans-serif; font-weight: lighter;}
.nw {font-family: 'Newsreader',serif; font-weight: normal;}
.hel {font-family: 'Helvetica';}
.bo {font-family: 'BodoniFLF-Italic'; font-style: italic; }
.ko {font-family: 'Noto Sans KR', sans-serif;}

.wrap {width: 100%; position: relative; color: #656565;}

.title {display: block; float: right; text-align: right; transform: rotate(90deg); font-size: 5rem; color: #222; position: fixed; top: 40%; right: 0; margin-right: -100px; z-index: 0; opacity: 0; }
.title.on {opacity: 1;}

/* main */
.main {width: 100%; overflow: hidden;}
.main .inner {width: 95%; margin: 0 auto; position: relative;}

.main .inner svg {width: 100%;  margin-top: -200px; margin-left: 400px; z-index: -1; }
.main .inner svg path {fill: none; stroke: #656565; stroke-width: 2; stroke-dasharray: 11075; stroke-dashoffset: 0; animation-name: line; animation-duration: 3s; animation-iteration-count: infinite;}


@keyframes line {
    0% {stroke-dashoffset: 11075;}/* 0% {stroke-dashoffset: 10337;} */
    100% {stroke-dashoffset: 0;}
}

.main .inner p.tit {width: 100%; font-size: 2.5rem;padding-top: 100px; margin-left: 150px; box-sizing: border-box; margin-bottom: 100px;}

.main .inner ul {width: 100%; margin-top: 100px;}
.main .inner ul li  {width: 100%; position: absolute;}
.main .inner ul li img{opacity: 1; transition: opacity 1s; transition-delay: 0.5s;}
.main .inner ul li img.active {width: 100%; opacity: 0;}

.main .inner ul li.e { width: 25%; top: 6%; right: 28%; opacity: 1;}
.main .inner ul li.a {width: 15%;top: 7.5%;  left :4%; }
.main .inner ul li.b {width: 10%; top: 9%; left: 20%; }
.main .inner ul li.c {width: 15%; top: 4.5%;  left :30%;}
.main .inner ul li.d {width: 17%;top: 16%; left: 29%;}
.main .inner ul li.f {width: 8%; top: 8%; right: 20%;}
.main .inner ul li.g {width: 10%; top: 7.5%; right: 10%;}
.main .inner ul li.h{width: 14%; top: 22%; left: 9%; }
.main .inner ul li.i {width: 10%; top: 28%; left: 25%;}
.main .inner ul li.j {width: 11%; top:25%; left: 37%;}
.main .inner ul li.k {width: 13%;top: 20%; right:7%;}
.main .inner ul li.l {width: 10%;top: 27%; right: 11%;}
.main .inner ul li.m {width: 28%;top: 26%; right: 23%;}

.main .inner ul li img{width: 100%;}
@keyframes line {
    0% {stroke-dashoffset: 4706;}
    100% {stroke-dashoffset: 0;}
}

/* concept */
/* 공통 */
.concept .tit {font-size: 3.3rem; color: #222; margin-bottom: 50px; font-weight: 600; text-align: center; font-family: 'Newsreader';}
.concept .txt {font-size: 1.1rem; line-height: 1.2; margin-top: 50px; }
.concept .subTit {font-size: 2rem; text-align: center; margin-bottom: 20px;}

.concept {width: 100%; margin-top: -2000px; }
.concept .inner {width: 80%; margin: 0 auto; padding: 50px 0 100px;} 

/* logo */
.concept .inner .logo {width: 100%; margin: 0 auto;}
.concept .inner .logo p.img{width: 50%; float: left; text-align: right; cursor: pointer; padding-right: 50px;box-sizing: border-box;}
.concept .inner .logo p.img img {width: 40%; }
.concept .inner .logo .txt {width: 50%;float: right; text-align: left; padding-left: 50px; box-sizing: border-box;}


/* theme */
.concept .inner .theme {width: 100%; text-align: center; overflow: hidden; margin: 0; padding: 200px 0;}



/* color */


.concept .inner .color {width: 100%; overflow: hidden;}
.concept .inner .color .tit {text-align: center; color: #222;}
.concept .inner .color .subTit {color: #222; margin-bottom: 50px; text-align: center;}
.concept .inner .color .left .subTit{margin-left: 0px;}
.concept .inner .color .right .subTit{margin-right: 50px;}
.concept .inner .color p.txt {width: 100%; display: inline-block; text-align: center; margin-top: 100px; }


.concept .inner .color .left {width: 45%;float: left; margin-left: 100px;} 

.concept .inner .color .left .main {padding-left: 143px; box-sizing: border-box;}
.concept .inner .color .left .main span {width: 100px; height: 100px; display: block; margin-bottom: 10px; margin-left: 10px; line-height: 100px; text-transform: lowercase; text-align: center; border: 1px #222 solid; color: #000;}
.concept .inner .color .left .main li {margin-left: 30px; float: left;}
.concept .inner .color .left .main li >span {line-height: 100px;}
.concept .inner .color .left .main li:nth-child(1) >span{background: #f3f0df; margin-left: 0;}
.concept .inner .color .left .main li:nth-child(2) >span{background: #656565;}
.concept .inner .color .left .main li:nth-child(3) >span{background: #222222;}



.concept .inner .color .right {float: right;  width: 35%; margin-right: 100px;}
.concept .inner .color .right .sub{ width: 100%;}
.concept .inner .color .right .sub li {float: left;}
.concept .inner .color .right .sub span {width: 90px; height: 90px; display: block; margin-bottom: 10px; margin-left: 10px; line-height: 90px; text-transform: lowercase; text-align: center;border: 1px #222 solid; color: #000;}
.concept .inner .color .right .sub li:nth-child(1) span {background: #296DA6;}
.concept .inner .color .right .sub li:nth-child(2) span {background: #6FA6D4;}
.concept .inner .color .right .sub li:nth-child(3) span {background: #8EAEBC;}
.concept .inner .color .right .sub li:nth-child(4) span {background: #85A39D;}
.concept .inner .color .right .sub li:nth-child(5) span {background: #AAA36E;}
.concept .inner .color .right .sub li:nth-child(6) span {background: #A67B59;}
.concept .inner .color .right .sub li:nth-child(7) span {background: #DA762D;}
.concept .inner .color .right .sub li:nth-child(8) span {background: #E5D161;}
.concept .inner .color .right .sub li:nth-child(9) span {background: #E4A5B0;}
.concept .inner .color .right .sub li:nth-child(10) span {background: #707070;}

/* font */
.concept .inner .font {width: 100%;}
.concept .inner .font .subTit {font-weight: bold; font-size: 35px; color: #222;}
.concept .inner .font .regular {font-weight: normal;}
.concept .inner .font .bold {font-weight: bold;}
.concept .inner .font .italic {font-style: italic;}
.concept .inner .font .boldil {font-style: italic; font-weight: bold;}
.concept .inner .font .semibold {font-weight: 600;}

.concept .inner .font {width: 100%;  overflow: hidden; margin: 100px 0;} 
.concept .inner .font .style {width: 80%; margin: 0 auto;overflow: hidden; display: flex; justify-content: space-between; flex-wrap: wrap; }
.concept .inner .font .style > div {width: 48%; text-align: center; margin-right: 25px; margin-top: 10px; }
.concept .inner .font .style >div:nth-child(5),.concept .inner .font .style > div:nth-child(2),.concept .inner .font .style > div:nth-child(4){margin-right: 0;}
.concept .inner .font .style > div:nth-child(5) {width: 100%; margin-top: 10px;}
.concept .inner .font div > p {font-size: 1.1rem; margin-bottom: 20px; }
.concept .inner .font .txt {width: 100%; margin-top: 100px; text-align: center;}
.concept .inner .font div:nth-child(5) {margin-top: -5px;}
.concept .inner .font p.txt {width: 100%; display: inline-block; }


/* Process */
.process{width: 100%; overflow: hidden; margin-bottom: 200px;}
.process .tit {width: 100%; text-align: center; margin: 50px auto; font-size: 3rem;}
.process .subTit {width: 100%; text-align: center; margin: 20px auto 50px;}
.process .frame {width: 100%; margin: 0 auto; display: flex; justify-content: space-between;}
.process .frame p.img {width: 20%; float: left; margin: 0 auto; margin-left: 20px; } 

.process .frame p.img img {width: 100%;}
/* 공통 애니메이션 */
@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes slideup {
    0% {opacity: 0; transform: translateY(50px);}
    30% {opacity: 0; transform: translateY(50px);}
    50% {opacity: 0.5; transform: translateY(50px);}
}

@keyframes maintextAni{ 
    0%{opacity: 0; transform: translateY(-300px);}
    30%{opacity: 0; transform: translateY(-300px);}
    70%{opacity: 1; transform: translateY(-100px);}

}


@media screen and (max-width: 1900px) {
    .concept {margin-top: -2000px;}
}

@media screen and (max-width: 1800px) {
    .concept {margin-top: -2000px;}
    .concept .inner .color .left .subTit {margin-left: 165px;}
}
@media screen and (max-width: 1770px) {
    .concept {margin-top: -1800px;}
}
@media screen and (max-width: 1600px) {
    .concept {margin-top: -1600px;}
    .concept .inner .logo p.img img {width: 65%;}
    .concept .inner .color .left {margin: 0;}
    .concept .inner .color .left .main {padding: 0;}
    .concept .inner .color .left .subTit {margin-left: 0;}
    .concept .inner .color .right {width: 51%; margin-right: 0;}
    .main .inner p.tit {margin-left: 0;}
}
@media screen and (max-width: 1440px) {
    .concept {margin-top: -1500px;}

@media screen and (max-width: 1300px) {
    .concept {margin-top: -1300px;}

}
@media screen and (max-width: 1200px) {
    .concept {margin-top: -1200px;}
    .main .inner p.tit {font-size: 1.5rem; padding-top: 100px;}
    .title {font-size: 4rem; margin-right: -90px; }
    .concept .inner .color .left {width: 100%;}
    .concept .inner .color .left .main {width: 60%; margin: 0 auto;}
    .concept .inner .color .right {width: 100%;}
    .concept .inner .color .right .subTit {margin-right: 0; margin-top: 50px;}
    .concept .inner .color .right .sub {width: 69%; margin: 0 auto;}
    .concept .inner .color p.txt{margin-top: 30px;}

}
@media screen and (max-width: 1000px) {
    .concept {margin-top: -1000px;}
    .concept .inner .font .style {width: 100%;}

}
@media screen and (max-width: 800px) {
    .concept {margin-top: -600px;}
    .concept .tit {font-size: 3rem;}
    .concept .inner .logo p.img {width: 100%; float: none; margin: 0; padding: 0; text-align: center;}
    .concept .inner .logo p.img img {width: 40%;}
    .concept .inner .logo .txt {width: 100%;float: none; margin: 0; padding: 0; text-align: center; margin-top: 50px;}
    .concept .inner .color .left {width: 100%;}
    .concept .inner .color .left .main {width: 70%; display: flex; justify-content: space-between; margin: 0 auto; }
    .concept .inner .color .left .main li:nth-child(1) {margin-left: 0;}
    .concept .inner .color .right .subTit {width: 100%; overflow: hidden; }
    .concept .inner .color .right .sub {width: 83%;}
    .concept .inner .font .style > div {width: 100%; margin: 0; margin-bottom: 50px;}
    .concept .inner .font .txt {margin-top: 0;}
    .process .frame p.img {width: 18%;}
    .process .subTit {font-size: 2rem;}
}
@media screen and (max-width: 600px) {
    .concept {margin-top: 530px;}
    .concept .txt {font-size: 1rem;}
    .concept .tit {font-size: 2.5rem;}
    .concept .inner .color .left {width: 100%;}
    .concept .inner .color .left .main {width: 80%; margin: 0 auto; }
   
    .main {overflow: visible;}
    .main .inner ul li.a {display: none;}
    .main .inner ul li.b {display: none;}
    .main .inner ul li.c {display: none;}
    .main .inner ul li.f{display: none;}
    .main .inner ul li.e {width: 50%; top:112%; right: 30%; }
    .main .inner ul li.i {display: none;}
    .main .inner ul li.l {width: 27%; top: 218%; right: 0%;}
    .main .inner ul li.m {width: 41%; top: 390%; right: 0%;}

    .main .inner ul li.h{display: none;}
    .main .inner ul li.d {width: 37%; top: 405%; left: 13%;}
    .main .inner ul li.j {width: 15%;top: 275%;left: 1%;}
    .main .inner ul li.k {width: 22%; top: 132%; right: 0%;}
    .main .inner ul li.k {width: 22%;top: 129%; right: 0%;}
    .main .inner ul li.g {width: 18%; top: 150%; left: 0; }
    svg {display: none;}

    .concept .tit {font-size: 2.5rem;}
    .concept .inner .font .subTit {font-size: 25px;}
    .concept .inner .color .left {width: 100%;}
    .concept .inner .color .left .main li {margin-left: 0;}
    .concept .inner .color .left .main li >span {width: 90px; height: 90px; line-height: 90px;}
    .concept .inner .color .right .sub {width: 100%; margin-left: 10px;}
    .concept .inner .color .right .sub li span{width: 70px; height: 70px; line-height: 70px;}
    .title {font-size: 2rem;}
}
@media screen and (max-width: 520px) {
    .title {display: none;}
}
@media screen and (max-width: 400px) {
    br.mo {display: none;}
    .concept {margin-top: 350px;}
    .main .inner ul li.m {display: none;}
    .main .inner ul li.j {display: none;}
    .main .inner ul li.d {top:300%;}
    .concept .inner .color .left .main {width: 81%; }
    .concept .inner .color .left .main li {margin: 0;}
    .concept .inner .color .left .main li span {width: 70px; height: 70px; line-height: 70px;}
}