@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700;900&display=swap');
@font-face {font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* Lay out */

body {font-family: 'GmarketSansMedium'; font-weight: normal; font-style: normal;}

.wrap {width: 100%; overflow: hidden;}

header {width: 100%; position: fixed; z-index: 100;}
header .innerHeader {width: 95%; margin: 0 auto; height:100px; line-height: 100px;}
header .innerHeader .logo {width: 184px; float: left;}
header .innerHeader .logo img {width: 100%;}
header .innerHeader nav {float: right; width: 65%;}
header .innerHeader nav .gnb {width: 50%; display: flex; justify-content: space-between; margin-top: 35px; color: rgb(70, 70, 70);}
header .innerHeader nav .gnb li {font-size: 20px; width: 40%; height: 30px; line-height: 30px; text-align: center; transition: all 0.3s; position: relative;}
header .innerHeader nav .gnb li a {display: block; width: 100%; height: 100%;}
header .innerHeader nav .gnb li .subGnb {position: absolute; background:#fff; color: #000; width: 100%; left: 0px; top: 30px; line-height: 0; opacity: 0; transition: all 0.5s; font-size: 15px;}
header .innerHeader nav .gnb li .subGnb li {width: 100%; text-align: center; font-size: 13px;}


header .innerHeader nav .gnb li .subGnb.on {line-height: 40px; opacity: 1; transition: all 0.2s;}
.gnb > li > ul.subGnb a {display: block; width: 100%; height: 100%;}
header .innerHeader nav .gnb li span {color: olivedrab;}


/*hover*/
header .innerHeader nav .gnb >li>a:hover, header .innerHeader nav .gnb>li>a:focus {color: #065090; transition: all 0.5s; background: #fff;}
.gnb > li > ul.subGnb a:hover,.gnb > li > a > ul.subGnb a:focus{color: #fff;background: #ddd;}

header .innerHeader .lang {float: right; padding-left: 20px; box-sizing: border-box; line-height: 2; margin-left: 50%; color: rgb(70, 70, 70); margin-top: -35px;}
header .innerHeader .lang a {font-size: 20px;}
header .innerHeader .lang:hover, header .innerHeader .lang:focus {color: #999;}

.sub3 {width: 100%;}
.sub3 .inner {overflow: hidden; position: relative;}

/*marketing info*/
.sub3 .inner .marketing > img {width: 100%; margin: 0 auto;}
.sub3 .inner .marketing h2 {font-size: 47px; position: absolute; top: 45%; left: 47%;}
.sub3 .inner .marketing .sub_gnb {width: 40%; margin: 25px auto; display: flex; justify-content: space-between; margin-bottom: 10px;}
.sub3 .inner .marketing .sub_gnb li {float: left; font-size: 15px; color: #999; transition: all 0.5s;}
.sub3 .inner .marketing .sub_gnb li:hover {color: black; transition: all 0.8;}
.sub3 .inner .marketing span {width: 100%; height: 1px; background: rgb(70, 70, 70); display: inline-block; margin: 0 auto;}


@keyframes sub_gnb{ 
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.sub3 {animation-name: sub_gnb; animation-duration: 1s;}

/*CI*/
.logo {width: 100%;}
.logo .inner {width: 80%; margin: 0 auto; overflow: hidden;}
.logo .inner .CI {width: 100%;}
.logo .inner .CI h2 {width: 100%; margin: 40px; font-size: 32px; font-weight: bold;}
.logo .inner .CI .logo_ci {width: 45%; float: left;}
.logo .inner .CI .logo_ci img {width: 371px; margin: 100px; margin-left: 200px;}
.logo .inner .CI .txt {width: 53%; float: right; font-size: 20px; margin-bottom: 100px;}


@keyframes logo_ani {
    0% {opacity: 0; transform : scale(0);}
    30% {opacity: 0; transform : scale(1.1);}
    70% {opacity: 1; transform : scale(1.1);}
}


@keyframes logo_ani2 {
    0% {opacity: 0; transform : translate(0);}
    30% {opacity: 0; transform : translate(30px);}
    70% {opacity: 1; transform : translate(30px);}
}

.logo .inner .CI h2 {animation: logo_ani; animation-duration: 0.8s;}
.logo .inner .CI .logo_ci {animation: logo_ani; animation-duration: 1s;}
.logo .inner .CI .txt {animation: logo_ani2; animation-duration: 1.2s;}



/*CI.type*/
.logo .inner .ci_type {width: 100%; overflow: hidden; margin: 0 auto;}
.logo .inner .ci_type h2 {width: 50%; margin: 40px; font-size: 32px; font-weight: bold; text-align: right; float: left;}
.logo .inner .ci_type .down {float: right; width: 191px; height: 61px; border: 1px solid #999; text-align: center; line-height: 61px; margin: 28px 230px 40px 100px; transition:all 1.2s;}

.logo .inner .ci_type .down:hover {color: white; background: #888; transition: all 1s;}


.logo .inner .ci_type .down i {margin-left: 5px;}
.logo .inner .ci_type h3 {width: 80%; float: left; color: rgb(70, 70, 70); font-size: 20px; margin-left: 226px; font-weight: bold; margin-bottom: 50px;}
.logo .inner .ci_type ul {width: 85%; margin: 0 auto;}
.logo .inner .ci_type ul li {width: 579px; height: 250px; float: left; border: 1px solid #999; line-height: 250px; margin-left: 44px; margin-bottom: 80px;}
.logo .inner .ci_type ul li p.img {width: 250px; padding-left: 154px;}
.logo .inner .ci_type ul li:nth-child(3) p.img, .logo .inner .ci_type ul li:nth-child(4) p.img {width: 110px; padding-left: 224px;}
.logo .inner .ci_type ul li p.img img{width: 100%;}

@keyframes type_ani {
    0% {opacity: 0; transform: translateY(0);}
    10% {opacity: 0; transform: translateY(0px);}
    50% {opacity: 0; transform: translateY(30px);}
    80% {opacity: 0.8; transform: translateY(30px);}

}

.logo .inner .ci_type h2.motion {animation: type_ani; animation-duration: 0.8s;}
.logo .inner .ci_type .down.motion {animation: type_ani; animation-duration: 1s;}
.logo .inner .ci_type h3.motion {animation: type_ani; animation-duration: 1.2s;}

.logo .inner .ci_type ul li:nth-child(1).motion {animation: type_ani; animation-duration: 1s;}
.logo .inner .ci_type ul li:nth-child(2).motion {animation: type_ani; animation-duration: 1.1s;}
.logo .inner .ci_type ul li:nth-child(3).motion {animation: type_ani; animation-duration: 1.2s;}
.logo .inner .ci_type ul li:nth-child(4).motion {animation: type_ani; animation-duration: 1.3s;}



/*CI.color*/

.logo .inner .ci_color {width: 100%; margin: 0 auto;}
.logo .inner .ci_color h3 {width: 80%; color: rgb(70, 70, 70); font-size: 20px; margin-left: 226px; font-weight: bold; margin-bottom: 50px;}
.logo .inner .ci_color p {width: 80%; height: 250px; display: block; border: 1px solid #999; background: #065090; text-align: center; padding-top: 120px; box-sizing: border-box; margin: 0 auto; margin-bottom: 100px; color: white; font-weight: bold;}

.logo .inner > span {background: #999; width: 592px; height: 1px; display: block; margin: 20px auto;}


/*ani*/
.logo .inner .ci_color h3.motion {animation: type_ani; animation-duration: 0.8s;}
.logo .inner .ci_color p.motion {animation: type_ani; animation-duration: 1s;}

@keyframes span_ani{
    0% {opacity: 0; transform: scale(-1.0);}
    20% {opacity: 1; transform : scale(-0.5);}
    60% {opacity: 1; transform : scale(1);}
}
.logo .inner > span.motion {animation: span_ani; animation-duration: 1.4s;}



/*BI*/
/*BI.logo*/
.logo_bi {width: 100%; margin-top: 100px;}
.logo_bi .inner {width: 80%; margin: 0 auto; overflow: hidden;}
.logo_bi .inner .BI {width: 100%;}
.logo_bi .inner .BI h2 {width: 100%; margin: 40px; font-size: 32px; font-weight: bold;}
.logo_bi .inner .BI p.img {width: 45%; float: left;}
.logo_bi .inner .BI p.img img {width: 219px; margin: 4px; margin-left: 282px;}
.logo_bi .inner .BI .txt {width: 53%; float: right; font-size: 20px; margin-bottom: 100px;}

/*ani*/
.logo_bi .inner .BI h2.motion{animation: logo_ani; animation-duration: 0.8s;}
.logo_bi .inner .BI p.img.motion {animation: logo_ani; animation-duration: 1s;}
.logo_bi .inner .BI .txt.motion {animation: logo_ani2; animation-duration: 1.2s;}


/*BI type*/
.logo_bi .inner .BI_type {width: 100%; overflow: hidden; margin: 0 auto;}
.logo_bi .inner .BI_type h2 {width: 50%; margin: 40px; font-size: 32px; font-weight: bold; text-align: right; float: left;}
.logo_bi .inner .BI_type .down {float: right; width: 191px; height: 61px; border: 1px solid #999; text-align: center; line-height: 61px; margin: 28px 230px 40px 100px;}
.logo_bi .inner .BI_type .down:hover {color: white; background: #888; transition: all 1s;}
.logo_bi .inner .BI_type .down i {margin-left: 5px;}
.logo_bi .inner .BI_type h3 {width: 80%; float: left; color: rgb(70, 70, 70); font-size: 20px; margin-left: 226px; font-weight: bold; margin-bottom: 50px;}
.logo_bi .inner .BI_type ul {width: 85%; margin: 0 auto;}
.logo_bi .inner .BI_type ul li {width: 579px; height: 250px; float: left; border: 1px solid #999; line-height: 250px; margin-left: 44px; margin-bottom: 80px;}
.logo_bi .inner .BI_type ul li p.img {width: 250px; padding-left: 92px;}
.logo_bi .inner .BI_type ul li:nth-child(3) p.img, .logo_bi .inner .BI_type ul li:nth-child(4) p.img {width: 110px; padding-left: 208px;}
.logo_bi .inner .BI_type ul li p.img {width: 100%;}

/*ani*/
.logo_bi .inner .BI_type h2.motion {animation: type_ani; animation-duration: 1s;}
.logo_bi .inner .BI_type .down.motion {animation: type_ani; animation-duration: 1.2s;}
.logo_bi .inner .BI_type h3.motion {animation: type_ani; animation-duration: 1.4s;}

.logo_bi .inner .BI_type ul li:nth-child(1).motion {animation: type_ani; animation-duration: 1s;}
.logo_bi .inner .BI_type ul li:nth-child(2).motion {animation: type_ani; animation-duration: 1.1s;}
.logo_bi .inner .BI_type ul li:nth-child(3).motion {animation: type_ani; animation-duration: 1.2s;} 
.logo_bi .inner .BI_type ul li:nth-child(4).motion {animation: type_ani; animation-duration: 1.3s;}

/* BI.color */
.logo_bi .inner .BI_color {width: 100%; margin: 0 auto;}
.logo_bi .inner .BI_color h3 {width: 80%; color: rgb(70, 70, 70); font-size: 20px; margin-left: 226px; font-weight: bold; margin-bottom: 50px;}
.logo_bi .inner .BI_color p {width: 1229px; height: 250px; display: block; border: 1px solid #999; background: #007e84; text-align: center; padding-top: 120px; box-sizing: border-box; margin: 0 auto; margin-bottom: 100px; color: white; font-weight: bold;}

/*ani*/
.logo_bi .inner .BI_color h3.motion {animation: type_ani; animation-duration: 1s;}
.logo_bi .inner .BI_color p.motion {animation: type_ani; animation-duration: 1.2s;}

.wrap > span {width: 100%; height: 1px; background: rgb(70, 70, 70); display: inline-block; margin: 50px auto;}

/*FOOTER*/

footer {width: 100%; margin-top: 30px;}
footer .footer_inner {width: 80%; margin: 0 auto; overflow: hidden; margin-bottom: 100px;}
footer .footer_inner .left {width: 55%; float: left; }
footer .footer_inner .left .footer_1 {width: 100%; float: left; margin-bottom: 10px;}
footer .footer_inner .left .footer_1 li {float: left;}
footer .footer_inner .left .footer_1 li:nth-child(1) {border: none;}
footer .footer_inner .left .footer_1 li a{padding: 0 3px; font-size: 16px;}
footer .footer_inner .left .footer_1 li span {background:black; width: 1px; height: 12px; display: inline-block; margin-left : 3px;}
footer .footer_inner .left .footer_1 li:nth-child(4) {margin-top: -3px;}

footer .footer_inner .left .footer_2 {width: 80%; font-size: 14px;}
footer .footer_inner .left .footer_2 li {float: left; padding: 1px 3px; color: rgb(70, 70, 70);}
footer .footer_inner .left .footer_2 li span {background:rgb(70,70,70); width: 1px; height:11px; display: inline-block; margin-left : 6px;}
footer .footer_inner .left .footer_2 li:nth-child(2),footer .footer_inner .left .footer_2 li:nth-child(4) {border: none;}
footer .footer_inner .left .copyright {width: 80%; float: left;margin-top: 3px; font-size: 10px; color: rgb(70,70,70);}

footer .footer_inner .right {width: 35%; float: right;}
footer .footer_inner .right .sns {float: left; width: 50%; display: flex; margin: 25px auto; background: white;}
footer .footer_inner .right .sns li {float: left; margin: 10px;}

footer .footer_inner .right a {position: relative;}
footer .footer_inner .right a .site {width: 160px; height: 40px; line-height: 40px; float: right; border: 1px solid rgb(70,70,70); margin: 35px auto; font-size: 14px; padding-left: 30px;}
footer .footer_inner .right a span {position: absolute; top: 49px; right: -261px;