@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/*Lay out*/

body {font-family: 'Noto Sans KR', sans-serif;}

.wrap {width: 100%;}
header {width: 100%; overflow: hidden; position: fixed; z-index:100; background: rgba(0,0,0,0.1); backdrop-filter: blur(10px); height: 70px; line-height: 70px;}
header .innerHeader {width: 100%; color: #fff;}
header .innerHeader h1 {width: 2%; float: left; margin-left: 80px; margin-right: 20px;}
header .innerHeader h1 a {width: 100%;}
header .innerHeader h1 a img {width: 23px;}

.gnb .gnb1 {width: 50%; float: left; font-size: 22px;  display: flex; letter-spacing: 3; font-weight: normal; }
.gnb .gnb1 li {float: left; margin-right: 20px;}

.info .gnb2 {float: right; font-size: 22px; margin-right: 20PX;}
.info .gnb2 li {float: left; margin-right: 10px;}
.info .gnb2 li img{width: 22px; margin-top: -5px; }
.info .gnb2 li:last-child {opacity: 0;}

/*section.visual*/
.visual {width: 100%; margin: 0 auto;}
.visual .inner {overflow: hidden; position: relative;}
.visual .inner .slide {position: relative; width: 100%; overflow: hidden;}
.visual .inner .slide li {width: 100%;}

.visual .inner .slide li img {width: 100%; height: 100vh; object-fit: cover;}
.visual .inner .slide li img img {width: 100%;}
.visual .inner .slide li .txtbox {position: absolute; left: 5%; bottom: 41%; color: #fff;}
.visual .inner .slide li .txtbox .tit { font-size: 16px; margin-bottom: 30px; letter-spacing: 0.5px; width: 100%;}
.visual .inner .slide li .txtbox .tit span {margin-left: 30px;}
.visual .inner .slide li .txtbox h2 {font-size: 65px; font-weight: 400; letter-spacing: 0.5px; margin-bottom: 30px; font-weight: bold;}
.visual .inner .slide li .txtbox .txt {letter-spacing: 0.5; line-height: 1.6; font-size: 17px; margin-bottom: 30px; font-weight: lighter;}
.visual .inner .slide li .txtbox button {border: none; background: none; opacity: 0.5; color: #fff; border-bottom: #fff solid 1px; padding-bottom: 5px; font-size: 18px;}
.visual .inner .slide li .num{position: absolute; bottom: 5%; left: 5%; font-size: 100px; position: absolute; font-weight: 700; color: #fff;}
.visual .inner p.three {position: absolute; bottom: 5%; right: 5%; font-size: 100px; position: absolute; font-weight: 700; color: #fff; } 

/*slick*/
.slick-dots {position: absolute; bottom: -2px; left: 0px; background: #111; height: 10px;  opacity: 0.8; width: 100%;}
.slick-dots li {width: 33.33333%; position: relative; height: 10px; border: none; bottom: 2px; text-indent: -99999px; opacity: 1; background: #ddd; cursor: pointer; }
.slick-dots li:nth-child(1) { left: 0%;}
.slick-dots li:nth-child(2) {left: 33.5%;}
.slick-dots li:nth-child(3) {left: 67%;}
.slick-dots .slick-active {position: absolute; opacity: 1; background: #fff; width: 33.33333%; transition: all 0.5s; bottom: 0;}


/*shop*/
.shop {width: 100%; position: relative; background:rgb(240, 240, 240);}
.shop .inner {width: 92%; margin: 0 auto; overflow: hidden;}
.shop .inner h2 {font-size: 30px; font-weight: lighter; color: #ddd; margin: 100px 0 50px;  display: block;}
.shop .inner .list {width: 60%; float: left; font-size: 70px; font-weight: 600; margin-bottom: 50px;}
.shop .inner .list li {float: left; position: relative;
margin-right: 20px;}
.shop .inner .list li:hover:after {content: '';width: 400px; height: 8px; background: #000; position: absolute; top: 105px; left: 0px;}
.shop .inner .list li:nth-child(3):hover:after {content: ''; width: 280px; height: 8px; background: #000; position: absolute; top: 105px; left: 0px;}


.shop .inner .books {width: 80%; float: left; display: flex; flex-wrap: wrap;}
.shop .inner .books li {width: 29%; float: left; overflow: hidden;}
.shop .inner .books li a {width: 50%;}
.shop .inner .books li a img {width: 90%;}
.shop .inner .books li a img img {width: 100%;}
.shop .inner .books li .txtbox {width: 90%; font-size: 18px;}
.shop .inner .books li .txtbox .issue {width: 100%; margin: 20px 0; font-weight: lighter;}
.shop .inner .books li .txtbox .issue span {margin-right: 20px;}
.shop .inner .books li .txtbox .tit {font-size: 30px; font-weight: 600; margin-bottom: 20px; font-weight: lighter; letter-spacing: -1px;}
.shop .inner .books li .txtbox .txt {font-weight: lighter; font-size: 18px; line-height: 1.6; color: #444; letter-spacing: -1px;}
.shop .inner > p {width: 50%; float: right; font-size: 100px; color: #fff; text-align: right; margin: 70px 0; letter-spacing: 1.5px;}

/*video*/

.tool {width: 100%; overflow: hidden; margin: -50px 0;}
.tool .inner {width: 100%; position: relative;}
.tool .inner .videoBox {left:50%; top:50%; transform: translate(-50%,-50%); width: 100%; height:1280px;}
.tool .inner .videoBox .video {position: absolute; top: 100%; left: 100%; transform: translate(-50%,-50%); width: 100%; height: 100%}
.tool .inner .videoBox .video iframe {width: 100%; height: 100%; display: block}
.tool .inner .txtbox {position: absolute; top: 45%; left: 4%; color: #fff; }
.tool .inner .txtbox .food {font-size: 18px; margin-bottom: 30px;}
.tool .inner .txtbox .food span {margin-left: 25px;}
.tool .inner .txtbox h2 {font-size: 70px; margin-bottom: 30px; font-family: 'NanumSquare'; font-weight: 600;}
.tool .inner .txtbox .txt {font-size: 17px; margin-bottom: 30px;}
.tool .inner .txtbox button {border: none; background: none; opacity: 0.5; color: #fff; border-bottom: #fff solid 1px; padding-bottom: 5px; font-size: 18px}



/*books*/
.jobs {width: 100%; position: relative; background: rgb(240,240,240);}
.jobs .inner {width: 92%; margin: 0 auto; overflow: hidden;}
.jobs .inner h2 {font-size: 30px; font-weight: lighter; color: #ddd; margin: 100px 0 50px;  display: block;}
.jobs .inner .list {width: 40%; float: left; font-size: 70px; font-weight: 600;  margin-bottom: 50px;}
.jobs .inner .list li {float: left; margin-right: 10px; position: relative;}
.jobs .inner .list li:nth-child(1):hover:after {content: '';width: 170px; height: 8px; background: #000; position: absolute; top: 100px; left: 0px;}
.jobs .inner .list li:nth-child(2):hover:after {content: '';width: 360px; height: 8px; background: #000; position: absolute; top: 100px; left: 0px;}
.jobs .inner .list li:nth-child(3):hover:after {content: '';width: 200px; height: 8px; background: #000; position: absolute; top: 100px; left: 0px;}

.jobs .inner .info {width: 80%; float: left; display: flex; flex-wrap: wrap;}
.jobs .inner .info li {width: 29%; float: left; overflow: hidden;}
.jobs .inner .info li a {width: 50%;}
.jobs .inner .info li a img {width: 90%;}
.jobs .inner .info li a img img {width: 100%;}
.jobs .inner .info li .txtBox {width: 90%; font-size: 18px;}
.jobs .inner .info li .txtBox .job {width: 100%; font-weight: lighter; font-size: 18px; margin: 20px 0; box-sizing: border-box;}
.jobs .inner .info li .txtBox .tit {font-size: 32px; font-weight: 600; margin-bottom: 20px;  font-weight: lighter;  }
.jobs .inner .info li .txtBox .txt {font-weight: lighter; font-size: 18px; line-height: 1.6; color: #444; -webkit-line-clamp: 8;}
.jobs .inner > p {width: 50%; float: right; font-size:100px; color: #fff; text-align: right; margin: 70px 0; letter-spacing: 1.5px;}

/*date*/
.date {width: 100%; margin-bottom: 200px; overflow: hidden;}
.date .inner {width: 92%; margin: 0 auto;} 
.date .inner .today {width: 100%; font-size: 65px; font-weight: bold; line-height: 1.3; margin: 50px 0;  }
.date .inner .recommend {width: 900px; float: right;}
.date .inner .recommend li {float: left; padding: 50px 40px; box-sizing: border-box; line-height: 1.3;}

.date .inner .recommend li:hover {background:#eee; opacity: 0.8; transition: 0.8s; }

.date .inner .recommend li a .news {font-size: 18px; position: relative; padding-left: 20px; box-sizing: border-box;}

.date .inner .recommend li a .news::before {content: ''; width: 10px; height: 10px; position: absolute; top: 35%; left: 0; border-radius: 50%; background: #000;}
.date .inner .recommend li a .news img {width: 18px; margin-bottom: 5px;}
.date .inner .recommend li a .tit {font-size: 30px;}
.date .inner .recommend li a .txt {margin-top: 20px; font-size: 17px; line-height: 1.6;}
.date .inner .recommend li:nth-child(2) .tit, .date .inner .recommend li:nth-child(4) .tit,.date .inner .recommend li:nth-child(5) .tit {font-size: 43px; line-height: 1.2;}
.date .inner .recommend li:nth-child(4),.date .inner .recommend li:nth-child(6) {padding-top: 50px; box-sizing: border-box;}
.date .inner .recommend li:nth-child(3) {margin-top: -50px;}
.date .inner .recommend li:nth-child(5) {margin-top: -100px;}

/*footer*/
footer {width: 100%;}
footer .innerFooter {width: 92%; margin: 0 auto;}
footer .innerFooter .logo {width: 25%; float: left;}
footer .innerFooter .logo a img {width: 25%;}
footer .innerFooter .logo a img img {width: 100%}
footer .innerFooter ul .tit {font-size: 18px; margin-bottom: 10px; color: #ccc;}
footer .innerFooter ul {width: 13%; float: left; font-size: 28px; margin-bottom: 50px; margin-right: 70px;}
footer .innerFooter ul:last-child {width: 100%;}
footer .innerFooter ul li a img {width: 28px;}

footer .innerFooter ul:last-child {width: 100%; float:left; font-size: 9px; color: #ccc; font-size: 17px; letter-spacing: 1px;}
footer .innerFooter ul:last-child li {float: left; margin-right: 5px;}
footer .innerFooter ul:last-child li:nth-child(7),footer .innerFooter ul:last-child li:nth-child(8) {border-bottom: solid 1px #ccc; padding-bottom: 3px; box-sizing: border-box;}


@media screen and (max-width:1440px) {
    header {height: 60px; line-height: 60px;}
    header .innerHeader h1 a img {width: 20px; margin-left: -50px;}
    header .innerHeader ul li{font-size: 19px;}
    header .gnb .gnb1 {display: none;}
    header .info .gnb2 li:nth-child(1),.info .gnb2 li:nth-child(2),.info .gnb2 li:nth-child(4) {display: none;}

    .info .gnb2 li:last-child {opacity: 1;}
    .visual .inner .slide {width: 100%;}
    .visual .inner .slide li .num {bottom: 5%;}
    .visual .inner .slide li .txtbox .txt {font-size: 15px;}
    .visual .inner .slide li .txtbox button {font-size: 15px;}
    .visual .inner p.three {bottom: 5%;}

    .shop .inner h2 {margin: 60px 0;}
    .shop .inner .list {width: 80%; font-size: 60px; float: left;}
    .shop .inner .list li {float: left; margin-left: 10px;}
    .shop .inner .list li:nth-child(3):hover:after {content: '';width: 250px; height: 8px; background: #000; position: absolute; top: 90px; left: 0px;}
    
    .shop .inner .list li:hover:after {content: '';width: 350px; height: 8px; background: #000; position: absolute; top: 90px; left: 0px;}
    .shop .inner .books li {width: 50%;}
    .shop .inner .books li .txtbox .txt {font-size: 15px;}
    
    .tool .inner .txtbox .txt {font-size: 15px;}
    .tool .inner .txtbox button {font-size: 15px;}

    .jobs .inner h2 {margin: 50px 0;}
    .jobs .inner .list {width: 60%; font-size: 60px;}
    .jobs .inner .list li {float: left;}
    .jobs .inner .list li:hover:after {height: 4px;}
    .jobs .inner .info {width: 100%;}
    .jobs .inner .info li {width: 50% }
    .jobs .inner .info li .txtBox .txt {font-size: 15px;}

    
    .date .inner .today {font-size: 50px;}
    .date .inner .recommend {float: right; width: 100%; margin-top: 200px; padding-left: 250px; box-sizing: border-box;}
    .date .inner .recommend li {padding: 22px 20px;}
    .date .inner .recommend li a .tit {font-size: 25px;}
    .date .inner .recommend li a .txt {font-size: 15px;}
    .date .inner .recommend li:nth-child(2) .tit, .date .inner .recommend li:nth-child(4) .tit,.date .inner .recommend li:nth-child(5) .tit {font-size: 36px; }

    footer .innerFooter ul { width: 16.5%;font-size: 25px; margin-right: 20px;}
}

@media screen and (max-width:992px) {
    br.mo {display: none;}
    .visual .inner .slide li .txtbox .txt {width: 80%;}
    .shop .inner .list {width: 100%;}
    .shop .inner .list li {margin-right: 10px; } 
    .shop .inner .books {width: 100%;  padding-right: 0; box-sizing: border-box;}
    .jobs .inner .list {Width: 100%;}
    .shop .inner .books li {width: 50%;}
    .date .inner .recommend {float: left; padding-left: 0;}
    footer .innerFooter {position: relative;}
    footer .innerFooter .logo {position: absolute; top: 203px; right: -60px; width: 21%; display: block; overflow: hidden;}
    footer {margin-bottom: 50px;}
    footer .innerFooter ul { width: 22%;font-size: 20px; margin-right: 20px;}
    footer .innerFooter .company .mo{display: none;}
    
}

@media screen and (max-width:768px) {
    br.mo2 {display: none;}
    .visual .inner {position: relative;}
    .visual .inner .slide li .txtbox { position: absolute; bottom: 50px; left: 35px;}
    .visual .inner .slide li .txtbox h2 {font-size: 40px; margin-bottom: 10px;}
    .visual .inner .slide li .txtbox .tit {margin-bottom: 10px;}
    .visual .inner .slide li .txtbox .txt {display: none;}
    .visual .inner .slide li .num {bottom: 50%; font-size: 50px;}
    .visual .inner p.three {bottom: 50%; font-size: 50px;}

    .shop .inner h2 {margin: 15px 30px;}
    .shop .inner .list {font-size: 37px; position: relative;}
    .shop .inner .list li { margin-bottom: 0; margin-left: 30px;}
    .shop .inner .list li::before {position: absolute; content: '→'; right: -107%;}
    .shop .inner .list li:hover:after{display: none;}
    
    .shop .inner .list li:nth-child(2),.shop .inner .list li:nth-child(3),.shop .inner .list li:nth-child(4) {display: none;}
    .shop .inner {width: 100%;}
    .shop .inner .list li span {display: none;}
    .shop .inner .books {width: 98%; display: block;}
    .shop .inner .books li {width: 100%; margin-left: 30px; margin-bottom: 20px; }
    .shop .inner .books li .txtbox .issue {margin: 10px 0;}
    .shop .inner > p {display: none;}

    .tool .inner {position: relative;}
    .tool .inner .txtbox {position: absolute; top: 50%; left: 35px;}
    .tool .inner .txtbox .txt {display: none;}
    .tool .inner .txtbox h2 {font-size: 40px; margin-bottom: 10px}
    .tool .inner .txtbox .food {margin-bottom: 10px;}

    .jobs .inner {width: 100%;}
    .jobs .inner h2 {margin: 20px;}
    .jobs .inner .list {margin-left: 20px; margin-bottom: 50px;}
    .jobs .inner .list li {font-size: 37px; position: relative;}
    .jobs .inner .list li::before {position: absolute; content: '→'; right: -438%;}
    .jobs .inner .list li:hover:after {display: none;}
    .jobs .inner .list li:nth-child(2),.jobs .inner .list li:nth-child(3) {display: none;}
    
    .jobs .inner .list li span {display: none;}
    .jobs .inner .info {width: 100%; display: block;}
    .jobs .inner .info li {width: 100%; margin-left: 30px; margin-bottom: 20px; }

    .jobs .inner .info li .txtBox .tit {margin-bottom: 10px;}
    .jobs .inner .info li .txtBox .job {margin: 10px 0;}
    .jobs .inner > p {display: none;}


    .date .inner .today {font-size: 35px;}
    .date .inner .recommend {width: 100%; float: left; margin: 0; }
    .date .inner .recommend li {width: 100%; line-height: normal; margin: 30px 0; padding: 0;}
    .date .inner .recommend li a .tit {font-size: 30px;}
    .date .inner .recommend li a .txt {margin-top: 20px; font-size: 17px; line-height: 1.6;}
    .date .inner .recommend li:nth-child(2) .tit, .date .inner .recommend li:nth-child(4) .tit,.date .inner .recommend li:nth-child(5) .tit {font-size: 30px; line-height: 1.2;}
    .date .inner .recommend li:nth-child(4),.date .inner .recommend li:nth-child(6) {padding-top: 0;}
    .date .inner .recommend li:nth-child(3) {margin-top: 0;}
    .date .inner .recommend li:nth-child(5) {margin-top: 0;}

    footer .innerFooter {position: relative;}
    footer .innerFooter ul {width: 100%; margin-bottom: 20px; font-size: 25px;}
    footer .innerFooter ul:last-child {margin-top: 50px;}
    footer .innerFooter .logo {top: 710px; right: -10px; display: block; padding-bottom: 20px;}
    footer .innerFooter .logo a img {width: 60%;}

}