@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&family=Noto+Sans+KR:wght@400;700;900&display=swap');
@font-face {font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;}

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
address, em, i {font-style: normal;}
a:focus {outline: none}
button:focus {outline: none}

/* Lay out */

body {font-family: 'GmarketSansMedium'; font-weight: normal; font-style: normal;}

.wrap {width: 100%; overflow: hidden;}

header {width: 100%; position: fixed; z-index: 100;}
header .innerHeader {width: 95%; margin: 0 auto; height:100px; line-height: 100px;}
header .innerHeader .logo {width: 184px; float: left;}
header .innerHeader .logo img {width: 100%;}
header .innerHeader nav {float: right; width: 65%;}
header .innerHeader nav .gnb {width: 50%; display: flex; justify-content: space-between; margin-top: 35px; color: rgb(70, 70, 70);}
header .innerHeader nav .gnb li {font-size: 20px; width: 40%; height: 30px; line-height: 30px; text-align: center; transition: all 0.3s; position: relative;}
header .innerHeader nav .gnb li a {display: block; width: 100%; height: 100%;}
header .innerHeader nav .gnb li .subGnb {position: absolute; background:#fff; color: #000; width: 100%; left: 0px; top: 30px; line-height: 0; opacity: 0; transition: all 0.5s; font-size: 15px;}
header .innerHeader nav .gnb li .subGnb li {width: 100%; text-align: center; font-size: 13px;}


header .innerHeader nav .gnb li .subGnb.on {line-height: 40px; opacity: 1; transition: all 0.2s;}
.gnb > li > ul.subGnb a {display: block; width: 100%; height: 100%;}
header .innerHeader nav .gnb li span {color: olivedrab;}


/*hover*/
header .innerHeader nav .gnb >li>a:hover, header .innerHeader nav .gnb>li>a:focus {color: #065090; transition: all 0.5s; background: #fff;}
.gnb > li > ul.subGnb a:hover,.gnb > li > a > ul.subGnb a:focus{color: #fff;background: #ddd;}

header .innerHeader .lang {float: right; padding-left: 20px; box-sizing: border-box; line-height: 2; margin-left: 50%; color: rgb(70, 70, 70); margin-top: -35px;}
header .innerHeader .lang a {font-size: 20px;}
header .innerHeader .lang:hover, header .innerHeader .lang:focus {color: #999;}

/*sub2*/

.sub2 {width: 100%;}
.sub2 .inner {overflow: hidden; position: relative;}

/*comany info*/
.sub2 .inner .business > img {width: 100%; margin: 0 auto;}
.sub2 .inner .business h2 {font-size: 47px; position: absolute; top: 45%; left: 47%;}
.sub2 .inner .business .sub_gnb {width: 40%; margin: 25px auto; display: flex; justify-content: space-between; margin-bottom: 10px;}
.sub2 .inner .business .sub_gnb li {float: left; font-size: 15px; color: #999; transition: all 0.5s;}
.sub2 .inner .business .sub_gnb li:hover {color: black; transition: all 0.8;}
.sub2 .inner .business span {width: 100%; height: 1px; background: rgb(70, 70, 70); display: inline-block; margin: 0 auto;}
.sub2 .inner .business .sub_gnb li:nth-child(6) {margin-top: -2px;}

@keyframes sub_gnb{ 
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.sub2 {animation-name: sub_gnb; animation-duration: 1s;}


/*housing*/
.search {width: 100%;}
.search .inner {width: 1600px; margin: 0 auto;}
.search .inner .housing {position: relative;}
.search .inner .housing h3 {font-size: 32px; font-weight: bold; margin: 50px 0; text-align: center;}
.search .inner .housing img {width: 100%;}
.search .inner .housing .txtbox {width: 80%; text-align: center; position: absolute; top: 33%; left: 10%;}
.search .inner .housing .txtbox .txt1 {font-size: 38px; font-weight: bold; letter-spacing: -0.5px;}
.search .inner .housing .txtbox .txt2 {font-size: 30px; margin-top: 20px;}
.search .inner .housing ul {width: 98%; height: 60px; position: absolute; top: 125%; left: 4%;}
.search .inner .housing ul li {background:whitesmoke; float: left; height: 50px; line-height: 50px; padding-left: 40px; border: 1px solid #999; border-radius: 30px; transition: 1.2s;}


.search .inner .housing ul li:nth-child(1) {width: 22%; margin-right: 10px;}
.search .inner .housing ul li:nth-child(2) {width: 22%; margin-right: 10px;}
.search .inner .housing ul li:nth-child(3) {width: 28%; margin-right: 10px; padding-left: 0;}
.search .inner .housing ul li:nth-child(4) {width: 10%; text-align: center; padding-left: 0px}
.search .inner .housing ul li > span {margin-left: 140px; padding-top: 10px; display: inline-block;}
/*hover*/
.search .inner .housing ul li:hover {color: white; background: #000; opacity: 0.4; transition: all 1s;}

/*ani*/
@keyframes housing_pic {
    0% {opacity: 0;}
    30% {opacity: 0;}
    70% {opacity: 0.8;}
}
.search .inner .housing img {animation: housing_pic; animation-duration: 1s;}

@keyframes housing_ani{
    0% {opacity: 0; transform: translateY(0);}
    30% {opacity: 0; transform: translateY(30px);}
    70% {opacity: 0.8; transform: translateY(30px);}
}
.search .inner .housing .txtbox .txt1 {animation: housing_ani; animation-duration: 1s;}
.search .inner .housing .txtbox .txt2 {animation: housing_ani; animation-duration: 1.3s;}

@keyframes housing_ul {
    0% {opacity: 0; transform: scale(0);}
    30% {opacity: 0; transform: scale(0);}
    70% {opacity: 1; transform: scale(1);}
}

.search .inner .housing ul {animation: housing_ul; animation-duration: 1.5s;}

@keyframes housing_li {
    0% {opacity: 0; transform: translateX(0)}
    30% {opacity: 0; transform: translateX(50px)}
    70% {opacity: 1; transform: translateX(50px)}    
}
.search .inner .housing ul li:nth-child(1) {animation: housing_li; animation-duration: 1.2s;}
.search .inner .housing ul li:nth-child(2) {animation: housing_li; animation-duration: 1.4s;}
.search .inner .housing ul li:nth-child(3) {animation: housing_li; animation-duration: 1.6s;}
.search .inner .housing ul li:nth-child(4) {animation: housing_li; animation-duration: 1.8s;}


/*result*/ 
.search .inner .result {width: 80%; margin: 0 auto;}
.search .inner .result .tit {margin: 60px 0 40px 0; font-size: 17px;}
.search .inner .result ul {width: 100%; overflow: hidden;}
.search .inner .result ul li {width: 371px; height: 674px; float: left; margin: 2%; border: 1px solid rgb(70, 70, 70);}
.search .inner .result ul li p.img {width: 371px; position: relative;}
.search .inner .result ul li p.img img {width: 100%;}
.search .inner .result ul li p.img::after {content: 'APT';position: absolute; top: 213px; right: 33px; width: 78px; height: 32px; background: #bbb; color: white; text-align: center; line-height: 32px; font-weight: bold;}
.search .inner .result ul li .txtbox {padding: 40px 40px 0 40px; overflow: hidden;}
.search .inner .result ul li .txtbox .done {color: #bbb; margin-bottom: 5px;}
.search .inner .result ul li .txtbox .loc {font-weight: bold; font-size: 28px; margin-bottom: 30px; height: 60px;}
.search .inner .result ul li .txtbox .txt {color: #bbb; font-size: 14px; line-height: 40px; margin-bottom: 70px;}
.search .inner .result ul li .txtbox .txt span {color: #666; margin-right: 10px;}
.search .inner .result ul li:nth-child(4) .txtbox .txt {letter-spacing: -0.5px;}
.search .inner .result ul li .home {text-align: center; border-top: #666 solid 1px; padding: 13px; line-height: 35px; font-size: 14px; color: #bbb; transition: all 1.8s; overflow: hidden; letter-spacing: 1px;}
.search .inner .result ul li .home:hover {color: white; background: #666; transition: all 1.5s; opacity: 0.3;}

@keyframes result_ani {
    0% {opacity: 0; transform: translateY(0);}
    30% {opacity: 0; transform: translateY(30px);}
    70% {opacity: 0.8; transform: translateY(30px);}
}
.search .inner .result .tit {animation: result_ani; animation-duration: 1s;}
.search .inner .result ul li:nth-child(1n).motion {animation: result_ani; animation-duration: 0.8s;}
.search .inner .result ul li:nth-child(2n).motion {animation: result_ani; animation-duration: 1s;}
.search .inner .result ul li:nth-child(3n).motion {animation: result_ani; animation-duration: 1.2s;}




/*page*/
.search .inner .page {color: #666; width: 1600px; margin: 70px auto; text-align: center; letter-spacing: 10px; transition: all 1.3s;  margin-top: 60px;  overflow: hidden;}
.search .inner .page a {font-size: 13px;}
.search .inner .page a:hover {color: black; transition: all 1s;}

@keyframes page_ani {
    0% {opacity: 0; }
    30% {opacity: 0;}
    70% {opacity: 0.5}}
.search .inner .page {animation-name: page_ani; animation-duration: 1.2s;}

.wrap > span {width: 100%; height: 1px; background: rgb(70, 70, 70); display: inline-block; margin: 50px auto;}

/*FOOTER*/

footer {width: 100%; margin-top: 30px;}
footer .footer_inner {width: 80%; margin: 0 auto; overflow: hidden; margin-bottom: 100px;}
footer .footer_inner .left {width: 55%; float: left; }
footer .footer_inner .left .footer_1 {width: 100%; float: left; margin-bottom: 10px;}
footer .footer_inner .left .footer_1 li {float: left;}
footer .footer_inner .left .footer_1 li:nth-child(1) {border: none;}
footer .footer_inner .left .footer_1 li a{padding: 0 3px; font-size: 16px;}
footer .footer_inner .left .footer_1 li span {background:black; width: 1px; height: 12px; display: inline-block; margin-left : 3px;}
footer .footer_inner .left .footer_1 li:nth-child(4) {margin-top: -3px;}

footer .footer_inner .left .footer_2 {width: 80%; font-size: 14px;}
footer .footer_inner .left .footer_2 li {float: left; padding: 1px 3px; color: rgb(70, 70, 70);}
footer .footer_inner .left .footer_2 li span {background:rgb(70,70,70); width: 1px; height:11px; display: inline-block; margin-left : 6px;}
footer .footer_inner .left .footer_2 li:nth-child(2),footer .footer_inner .left .footer_2 li:nth-child(4) {border: none;}
footer .footer_inner .left .copyright {width: 80%; float: left;margin-top: 3px; font-size: 10px; color: rgb(70,70,70);}

footer .footer_inner .right {width: 35%; float: right;}
footer .footer_inner .right .sns {float: left; width: 50%; display: flex; margin: 25px auto; background: white;}
footer .footer_inner .right .sns li {float: left; margin: 10px;}

footer .footer_inner .right a {position: relative;}
footer .footer_inner .right a .site {width: 160px; height: 40px; line-height: 40px; float: right; border: 1px solid rgb(70,70,70); margin: 35px auto; font-size: 14px; padding-left: 30px;}
footer .footer_inner .right a span {position: absolute; top: 49px; right: -261px;}
